body, ul, li, p {

    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size:1em ;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}

.navbar {

    background: #d4a373;
    display: flex;
    justify-content: space-between;
    padding: 2.2vw;
    align-items: center;
    flex-wrap: wrap;

}

.navbar p {

    color: white;
}

.links {

    display: flex;

}

.links li {

    margin-left: 1.7vw;
    flex-wrap: wrap;

}

.links li a {

    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;

}

.conteudo {

    display: flex;
    justify-content: left;
    margin: 5vw;
    flex-wrap: 1 1;
    
}

@media screen and (max-width:600px) {

    .conteudo {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
}

.conteudo img {

    max-width: 23vw;
    margin-right: 4vw;
}

.conteudo h1 {

    font-family:inherit
}

.text {

    display: inline;
}